{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zasady Gry - Wordiez</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
   
    <div class="gif-container left">
        <img src="{{ url_for('static', filename='images/szczury.gif') }}" alt="Left GIF" class="side-gif">
    </div>

    <div class="container custom-form-container">
      
        <div class="header">
            <a href="{{ url_for('logout') }}" class="logout-button">Wyloguj się</a>
        </div>


        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div id="flash-message" class="flash-message">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <h1><span class="zasady">Zasady Gry</span></h1>

        <div class="content">
            <p>Witaj w grze! Oto zasady:</p>
            <div style="text-align: left;">
            <ul>
                <li><strong>Cel gry: </strong>Odgadnij pięcioliterowe słowo w maksymalnie 6 próbach.</li>
                <li><strong>Kolory: </strong></li>
                <p><strong><span class="tekst_ziel">Zielony</span></strong>: Litera jest poprawna i w odpowiednim miejscu.</p>
                <p><strong><span class="tekst_zol">Żółty</span></strong>: Litera jest w słowie, ale w złym miejscu.</p>
                <li><strong>Wpisywanie słów: </strong>Wpisuj pięcioliterowe słowa w języku angielskim. Po każdej próbie system pokazuje kolorowe wskazówki.</li>
                <li><strong>Zakończenie gry: </strong>Gra kończy się, gdy zgadniesz słowo lub wyczerpiesz próby.</li>
            </ul>
            </div>
        </div>

        <div class="buttons-container">
            <a href="{{ url_for('glowna') }}" class="btn-udostepnianie">Wróć do głównej strony</a>
        </div>
    </div>


    <div class="gif-container right">
        <img src="{{ url_for('static', filename='images/szczury.gif') }}" alt="Right GIF" class="side-gif">
    </div>

    <script>
        window.onload = function () {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                flashMessage.classList.add('show');
                setTimeout(function () {
                    flashMessage.classList.remove('show');
                }, 3000);
            }
        };
    </script>
</body>

</html>
{% endblock %}